<% if signed_in? %>
  <div class="row">
    <aside class="col-md-3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-9 container">
      <h3>投稿一覧</h3>
      <%= render 'shared/feed'%>
    </div>
  </div>
<% else %>

<html>
<head>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

  <script>
    $(document).ready(function(){
      $('.slider').bxSlider();
    });
  </script>

</head>
<body>
  <div class="slider">
    <div class="jumbotron">
      <h1>sky</h1>
      <h2>skyは空撮と観光を繋げるアプリケーションです</h2>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-danger" %><br>
      <%= link_to "twitterでログイン", user_omniauth_authorize_path(:twitter), class: "btn btn-lg btn-info" %>
    </div>
    <%= image_tag("IMG_0637.JPG") %>
    <%= image_tag("IMG_1045.JPG") %>
    <%= image_tag("IMG_1300.JPG") %>
  </div>
</body>
</html>
<div class="panel panel-primary">
  <div class="panel-heading">
    お知らせ
  </div>
  <div class="panel-body">
    skyは空撮と観光を繋げるアプリケーションです
  </div>
</div>
<% end %>


