<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-3">
        <%= render 'follow_form' if signed_in? %>
      </div>
    </div>
    <% if @user.microposts.any? %>
      <h3>投稿一覧 (<%= @user.microposts.count %>)</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <tr>
                <th>氏名</th>
                <th>投稿内容</th>
                <th>投稿時間</th>
                <th>リンク</th>
              </tr>
              <% @microposts.each do |micropost| %>
              <tr>
                <td><%= link_to micropost.user.name, micropost.user %></td>
                <td><%= micropost.content %></td>
                <td>投稿<%= time_ago_in_words(micropost.created_at) %>前</td>
                <td>
                  <%= link_to sanitize('<i class="fa fa-trash-o"></i>'), "#", class: "btn btn-danger" %>
                </td>
              </tr>
              <% end %>
            </table>
          </div>
      <%= will_paginate @microposts, renderer: BootstrapPagination::Rails, previous_label: '前', next_label: '次' %>
    <% end %>
  </div>
</div>