<% provide(:title, 'Contact') %>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>お問い合わせ</h1>
        <%= form_for (@contact) do |f| %>
            <%= f.label :氏名 %>  
            <%= f.text_field :name %>
            <%= f.label :年齢 %>  
            <%= f.text_field :age %>
            <%= f.label :メールアドレス %>
            <%= f.text_field :email %>
            <div class="contact_form">
              <%= f.text_area :content, placeholder: "お問い合わせ内容" %>
            </div>
            <%= f.submit "送信", class: "btn btn-lg btn-danger" %>
        <% end %>
    </div>
    <div class="col-md-2"></div>
</div>

